<?xml version="1.0" encoding="utf-8"?>
<config>
  <input>
    <type>png</type>
    <width>640</width>
    <height>480</height>
    <color1>Georgiev/Color21.yuv</color1>
    <color2>Georgiev/Color23.yuv</color2>
    <minZ>1</minZ>
    <maxZ>7</maxZ>
    <camera_file>Georgiev/georgiev.txt</camera_file>
    <camera1>Camera21</camera1>
    <camera2>Camera23</camera2>
  </input>
  
  <settings>
    <vertex_shader>view.vertex</vertex_shader>    
    <fragment_shader>view.fragment</fragment_shader>
    <vertex_internal>view_internal.vertex</vertex_internal>
    <geometry_internal>view_internal.geometry</geometry_internal>
    <fragment_internal>view_internal.fragment</fragment_internal>
    <fsaa>0</fsaa>
    <layers>50</layers>
    <desired_camera>Camera22</desired_camera>
    <speed>-0.1</speed>
    <mouseSpeed>0.0001</mouseSpeed>
    
    <!--
    <output_width>800</output_width>
    <output_height>600</output_height>
    -->
  </settings>
</config>

